
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.global-nav {
  background-color: rgb(146, 190, 255);
  padding: 12px 0;
  display: flex;
  gap: 4px;
}

