

.path{
color: #9D9D9D; 
font-size: 20px; 
font-weight: 400; 
word-wrap: break-word;
margin-top: 2.4%;
display: flex;
}

.product-detail {
    margin: 36px 10% 0;
  }

.path_element{
margin-right: 20px;
margin-left: 20px;
}

.img_shoe{
width: 330px;
height: 260px;
}

.row_content{
display: flex;
}

.showcaselist{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3.8%;
}

.textdes{
    margin-left: 3%;
}
