.banner-homepage {
  background-color: #d9d9d9;
  height: 644px;
  margin-top: 32px;
}

.body-homepage {
  margin: 0 10%;
}

.brand-slot {
  width: 100px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;

  &__icon {
    background-color: #d9d9d9;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;

    &--img {
      align-self: center;
      width: 60px;
    }
  }
}

.swiper-container {
  display: flex;
  justify-content: center;

  &__brand {
    display: flex;
    overflow-x: auto;
    gap: 108px;
    margin: 64px 0 32px;
  }
}

.promote-block {
  margin-bottom: 32px;
  text-align: center;
}
