.path{
    color: #9D9D9D; 
    font-size: 20px; 
    font-weight: 400; 
    word-wrap: break-word;
    margin-top: 2.4%;
    margin-left: 7%;
    display: flex;
  }
  
  .path_element{
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .img_shoes{
    width: 600px; 
    height: 500px;
  }
  
  .row_content{
    display: flex;
  }
  
  